
.container{
    position: relative;
    margin: 0 auto;
}
.products-contianer
{
    position: relative;
    float: left;
    
}
.products {
    display: flex;
    flex-wrap: wrap;
    margin: 50px;
}

.product-card {
    padding: 2%;
    flex: 1 16%;
    text-align: center;
}

.product-image img {
    max-width: 100%;
}

.product-info {
    margin-top: auto;
    justify-content: center;
    text-align: center;
}

.cart-container{
    top:0;
    right: 0;
    height: 100%;
    max-height: 100%;
    width: 35%;;
    background-color: black;
    opacity: 0.9;
    position: fixed;
    border: 1px solid;
    }
.cart-product{
    width: 100%;
    text-align: center;
    display: table;
    color: white;
    border-bottom: 1px solid beige;
    clear: both;
    padding-bottom: 10px;
    border-bottom: 1px solid beige;
    background: black;
}
.cart-product div{
    vertical-align: middle;
    display: table-cell;
    padding: 5px;
    font-weight: bolder;
}
.close-button{
    right: 0;
    color: white;
    width: 100%;
    display: inline-block;
    background: black;
   
}
.close-button span{
    color: wheat;
    font-size: 20px;
    float: right;
    margin:10px;

}

.close-button span:hover{
    cursor: pointer;
}
.cart-product .cart-image{
    text-align: center;
} 
.cart-product .cart-image img{
    width: 100px;
}
.shopping-label{
    width: 100%;
    padding: 10px;
    margin: 4px;
    color:white;
    border-bottom: 1px solid beige;
    display: table;
}
.shopping-label label{
    margin: 10px;
    text-align: center;
    padding: 5px;
    font-weight: bolder;
    display: table-cell;


}


.price {
    flex: 1;
    color: grey;
    font-size: 22px;
}
.quantity{
    justify-content: center;
    text-align: center;
}
.card button {

    border: none;
    margin-bottom: 0;
    outline: 0;
    padding: 12px;
    color: white;
    background-color: #000;
    text-align: center;
    cursor: pointer;
    width: 100%;
    font-size: 18px;
}

.card button:hover {
    opacity: 0.7;
}

.remove-product {
    border: 0;
    padding: 4px 8px;
    background-color: #c66;
    color: #fff;
    font-size: 12px;
    border-radius: 3px;
  }
  
  .remove-product:hover {
    background-color: #a44;
  }

  .cart-product-subtotal{
    bottom: 0;
    background: white;
    padding: 20px;
    position: absolute;
    width: 100%;
  }